li{
    margin-bottom: 20px;    
    width: 400px;
  
    background: #8257e6;
    border-radius:.8rem;
    padding: 25px;

    strong{
    }

    p{
        font-size:14px;
        color:#c9c9c9;
        margin-top: 8px;
    }

    a{
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color:#f9f9f9;
    }

}
